@model SalesManagement.Models.UserLogin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserLogin</h4>
<hr />



@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                        <label asp-for="LoginID" class="control-label"></label>
                        <input asp-for="LoginID" class="form-control" />
                        <span asp-validation-for="LoginID" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="UserEmail" class="control-label"></label>
                    <input asp-for="UserEmail" class="form-control" required />
                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" required class="form-control" />
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
    <tr>
        <td>
            @Html.ValidationMessage("Error", null, new { @class = " text txt-danger" });
        </td>
    </tr>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
