@model SalesManagement.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Customer</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form id="myForm">

            @*<div class="form-group">
            <label asp-for="CustomerID" class="control-label"></label>
            <input asp-for="CustomerID" class="form-control" />
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" id="CustomerName" class="form-control" pattern="[a-zA-Z\s]+"  required/>
                <div class="customer-name-msg"></div>
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#CustomerName").on('input', function () {
            var customerName = $(this).val();

            var validName = /^[a-zA-Z ]*$/;
            if (customerName.length == 0) {
                $('.customer-name-msg').addClass('invalid-msg').text("Customer Name is required");
                $(this).addClass('invalid-input').removeClass('valid-input');
            }
            else if (!validName.test(customerName)) {
                $('.customer-name-msg').addClass('invalid-msg').text('only characters & Whitespace are allowed');
                $(this).addClass('invalid-input').removeClass('valid-input');
            }
            else {
                $('.customer-name-msg').empty();
                $(this).addClass('invalid-input').removeClass('valid-input');
            }
        });
    });


    $(document).ready(function () {
        $("#myForm").submit(function (event) {
            event.stopPropagation();
            console.log("Form submitted");
            var formData = {
                customerName: $("#CustomerName").val(),
            }
            var validName = /^[a-zA-Z ]*$/;
            if (formData.customerName == '') {
                $('.customer-name-msg').addClass('invalid-msg').text("Customer Name is required");
                $(this).addClass('invalid-input').removeClass('valid-input');
                console.log("Invalid Form");
                alert("Enter the Valid Name");
            }
            else if (!validName.test(formData.customerName)) {
                alert("only characters & Whitespace are allowed");
            }
            else {
                //debugger;
                $.ajax({
                    type: "POST",
                    url: "create",
                    data: formData,
                    success: function (data) {

                        console.log(data);
                        alert(data.message);
                        location.href = "index";
                        console.log("Value Entered");
                    },
                    error: (a, b) => {
                        //debugger;
                        alert(b.messages)
                    }

                })
                event.preventDefault();
            }
        });

    });
</script>